/*body*/
body{
	background-color:#F6F6F6;
	position:relative;
	font-family:Microsoft YaHei,Microsoft JhengHei;
	color:#777777;
	text-align: center;
	}
.collapse a {
	font-size:15px;
	}
	
p{
	font-size:15px;
	line-height:26px;
	}

.page-header {
	border-bottom: 1px solid #ddd;
	}
	
.navbar {
	background:#FFF;
	border:0;
	-o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.navbar.navbar-no-bg { background: none; }

a, a:hover, a:focus {
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.page-header h1{
	text-align: left;
	}

h4{
	padding-top:30px;
	padding-bottom:10px;
	}

.title{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	}

.Link2-icon {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background: #F1F1F1;
    font-size: 50px;
    color: #777777;
    line-height: 100px;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.Link2-icon:hover {background:#E7E7E7}

.btn-link-1 {
	height: 50px;
	padding: 12px 20px 0 20px;
	background: #777777;
	font-size: 16px;
    color: #fff;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	}
.btn-link-1:hover, .btn-link-1:focus, 

.btn-link-1:active, .btn-link-1:active:focus {  opacity: 0.6;  color: #fff; }

.Link1-content{
	padding-top: 25px;
	}
	
.Link2-container .row .col-sm-4{
	padding-bottom: 15px;
	}
	
.Link2-container ,.Link2-1-container ,.Link2-2-container ,.Link2-3-container{
	padding-top: 35px;
	}

.Link2-1-container .row h4 ,.Link2-1-container .row p ,.Link2-2-container .row h4 ,.Link2-2-container .row p {
	text-align:left;
	padding:0 0 0 0;	
	margin:auto;
	line-height:30px;
	}

.Link2-1-container .col-sm-12 h4{
	text-align:center;
	padding-bottom:10px;
	}

.Link2-1-container img, .Link2-2-container img, .Link2-3-container img {
	margin:auto;
	}
	
.nav-tabs {
  border-bottom:none;
}

.Link2-3-container .nav-tabs li {
	float: none;
	display: inline-block;
	margin:15px 5px 10px 5px;
}

.Link2-3-container .nav-tabs li a {
    width: 15px;
    height: 15px;
    padding: 0;
    background: #E1E1E1;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}

.Link2-3-container .nav-tabs li a:hover { border: 0; background: #777777; }
.Link2-3-container .nav-tabs li.active a { background: #777777; }
.Link2-3-container .nav-tabs li.active a:focus { border: 0; }
	
.Link3-container{
	padding-top:40px;
	}	

.footer-icon{
	font-size: 42px;
    line-height: 42px;
	}
	
.footer-icon a {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 0 5px;
	padding-top: 7px;
	background: #E7E7E7;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    font-size: 32px;
    color: #777777;
    line-height: 40px;
    text-align:center;
}

a.icon1:hover,a.icon1:focus {background:#3B5998;color:#FFFFFF}

a.icon2:hover,a.icon2:focus {background:#D2C1A3;color:#4D342D}

a.icon3:hover,a.icon3:focus {background:#FF0185;color:#226CD8}

.footer-icon a i {vertical-align:middle;}

.footer-word{
	padding-top:25px
	}

/*end*/

/*media*/
@media (max-width: 767px) {
 .navbar.navbar-no-bg { background:#FFFFFF; }
}

@media (min-width: 1410px) {
  .container {
    width: 1400px;
  }
}

@media (min-width: 1610px) {
  .container {
    width: 1600px;
  }
}
/*end*/
